@model TimeTracking.Models.WORKTIME

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>WORKTIME</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.PROJECT.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PROJECT.Name)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.WORKER.firstName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.WORKER.firstName)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.WORKER.lastName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.WORKER.lastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.workTimeInDays)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.workTimeInDays)
            @Html.ValidationMessageFor(model => model.workTimeInDays)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
